.expense-date{
    display : flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); 
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgb(7, 7, 7);
    color: white;
    border-radius: 12px;
    border-color: rgb(56, 56, 56);
    font-weight: 700;
    text-align: center;
    border-color: white;
    border-style: solid;
}

.day{
    font-weight:bolder;
    font-size:x-large;
}